<h1>Exercises</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Exercises</th>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |student, exercises| %>
      <tr>
        <td><%= student.account_number %></td>
        <td><% unless user_signed_in? %>
          <span class="label label-<%= student.exercise_status %>"> <%= student.exercise_display %> </span>
        <%else%>
          <% exercises.each_with_index do |exercise, index| %>
            <span class="badge badge-info"> <%= link_to index, exercise %> </span>
          <%end%>
        <% end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
